.about {
    flex-direction: column;
    margin-top: 5em;
  }
  .cards {
    display: flex;
    margin-top: 2em;
  }

  .card {
    margin: 1em 1em 0 0;
    padding: 1em;
    box-shadow: var(--shadow);
    background: var(--clr-bg-alt);
    border-radius: 8px;
    width: 32%;
  }

  .card:hover {
    transform: translateY(-7px);
  }
  
  .bigger {
    font-size: 1.5em;
    margin-bottom: 1em;
    color: #5d109b;
  }

  .card-title {
    color: #5d109b;
    font-size: 1em;
    margin-bottom: 0.5em;
  }

  @media (max-width: 767px) {
    .app .about {
      align-items: flex-start;
      margin-top: 2em;
    }

    .cards {
      flex-direction: column;
      width: 100%;
    }
    .card {
      width: 98%;
    }
  }