.intro {
    display: flex;
    justify-content: space-between;
}
.blue {
    color: #1a59b8;
}
.purple {
    color: #5d109b;
}
.intro-text {
    width: 50%;
}
.intro-text p {
    margin-top: 1em;
}
.intro-img {
    width: 30vw;
    height: 60vh;
}
.button-container {
    margin-top: 5%;
    display: flex;
}
.intro-button {
    margin-top: 20px;
    padding: 1em;
    height: 8vh;
    background-color: #1a59b8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.intro-button-secondary {
    margin-left: 10px;
    background-color: #5d109b;
}

@media (max-width: 767px) {
  .intro {
    flex-direction: column;
  }
  .intro-text {
    width: 100%;
  }
  .intro-img {
    width: 95vw;
    height: auto;
    margin-top: 3em;
  }
  .button-container{
    justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .intro-img {
    width: 35vw;
    height: auto;
  }
  .intro-button{
    height: auto;
  }
}